<f:layout name="Default" />

<f:section name="Title">Wordlist</f:section>

<f:section name="Content">
	<section>
		<div class="px-5 py-4">
			<div class="flex justify-between items-center pb-4">
				<h1 class="text-2xl">Wordlist</h1>
				<div class="flex">
					<div id="check-http" class="bg-neutral-500 hover:bg-neutral-700 text-white font-bold py-2 px-4 rounded ml-3 cursor-pointer">
						--
					</div>
					<button type="submit" class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded ml-3">
						--
					</button>
				</div>
			</div>

			<table id="wordlist-table">
				<thead>
				<tr>
					<th>Filename</th>
					<th>Size (Bytes)</th>
					<th>Path</th>
					<th>Directory</th>
					<th>Action</th>
				</tr>
				</thead>
				<tbody>
				<f:for each="{wordlist}" as="item">
					<tr>
						<td>{item.name}</td>
						<td>{item.size}</td>
						<td>{item.path}</td>
						<td>{item.dir}</td>
					</tr>
				</f:for>
				</tbody>
			</table>
		</div>
	</section>
</f:section>
